<!DOCTYPE html>
<html>
<head>
	<title>GSLUG: the Greater Seattle Linux Users Group</title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<style type="text/css">
		body {
			background-color: #3589D1;
			text-align: center;
			color: #b9d6ef;
			font-size: 14pt;
		}

		#container {
			width: 600px;
			margin: 0 auto;
		}

		p {
		  margin-bottom: 30px;
		}

    #menu {
      float: right;
      list-style: none;
      padding: 5px 0;
    }

    #menu li {
      display: inline;
      margin-left: 10px;
    }

    #menu li a {
      color: #b9d6ef;
      text-decoration: none;
    }

    #menu li a:hover {
      color: #fff;
    }

		#statement {
		  text-align: justify;
		}

    #next_meeting {
      text-align: left;
    }

    #next_meeting a {
      color: #fff;
      text-decoration: none;
    }

    #next_meeting a:hover {
      color: #b9d6ef;
    }

		#irc {
			border: none;
			border-radius: 0.5em;
		}
	</style>
</head>
<body>
	<div id="container">
    <ul id="menu">
      <li><a href="/wiki/Main_Page">wiki</a>
      <li><a href="/wiki/Mailing_Lists">list</a>
      <li><a href="/wiki/To_Do_Page">org</a>
    </ul>
		<img id="logo" src="logo.png" alt="Greater Seattle Linux Users Group (GSLUG)">
		<p id="statement">Founded in 1994, GSLUG is a community of people in the Seattle area who share an interest in Linux and open source software. Everyone is welcome, whether you've never used Linux before or you're a seasoned kernel developer. Come join us the 2nd Saturday of each month to learn and share!</p>
		<p id="next_meeting">
      <% if next_meeting? %>
        <a href="/wiki/<%= URI.escape(next_meeting_page_name) %>">
          Our next meeting will be held
          on <%= next_meeting_start.strftime('%A, %B %e') %>
          from <%= next_meeting_start.strftime('%l:%M %P') %>
          to <%= next_meeting_end.strftime('%l:%M %P') -%><% if next_meeting_location %> at <%= next_meeting_location -%><% end %>.
        </a>
      <% else %>
        The next meeting has not yet been scheduled.
      <% end %>
    </p>
		<p>Please join us on IRC if you have any questions:</p>
		<iframe id="irc" src="http://webchat.freenode.net?channels=gslug&uio=MT1mYWxzZSYzPWZhbHNlJjk9dHJ1ZSYxMD10cnVlJjExPTIxNQ75" width="100%" height="400"></iframe>
	</div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript">
    $(function() {
      head = $('#irc').contents().find('head');
      head.append('<style type="text/css">
        body {
          background-color: transparent;
        }
      </style>');
    });
  </script>
</body>
</html>
